div{
    display: flex;


}
.wrapper{
    background-image: url("../img/backgroung.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: #fff;
    font-family: Verdana, sans-serif;
    flex-direction: column;
}

.header{

    /*display: flex;*/
    justify-content: space-between;
    width: 100vw;
    min-height: 56px;
    background-color: rgba(0, 0, 0, 0.41);
    /*opacity: 0.41;*/

}
.logo-text{

    /*display: flex;*/
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 83px;

}

.logo-text:hover{
    color: #3cb878;

}

.icons{

    align-items: center;
    margin-right: 50px;

}

.calendar{
    width: 19px;
    height: 19px;
    background: url("../img/css_sprites.png") -106px -10px;
    margin-right: 25px;
}
.calendar:hover{
    width: 19px;
    height: 19px;
    background: url("../img/css_sprites.png") -106px -49px;

}
.forum{
    width: 28px;
    height: 20px;
    background: url('../img/css_sprites.png') -10px -10px;
    margin-right: 25px;
}
.forum:hover{

    width: 28px;
    height: 20px;
    background: url('../img/css_sprites.png') -58px -10px;

}
.journey{

    width: 20px;
    height: 20px;
    background: url('../img/css_sprites.png') -10px -50px;
    margin-right: 50px;
}

.journey:hover{
    width: 20px;
    height: 20px;
    background: url('../img/css_sprites.png') -50px -50px;

}
.authorization{
    /*display: flex;*/
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-right: 72px;
}
.recolor{
    color: #3cb878;
    text-decoration: none;

}
.recolor:hover{
    text-decoration: underline;

}
.main-field{

    width: 444px;
    min-height: 584px;
    /*height: 100%;*/
    background-color: white;
    overflow: auto;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    flex-direction: column;
    align-items: center;
}
.main-field-wrapper{
    width: 320px;
    /*height: 100%;*/
    margin-top: 30px;
    margin-bottom: 30px;
    flex-direction: column;

}

.main-field-authorization{
    width: 320px;
    /*height: 100%;*/
    color: black;
    flex-direction: column;
}
.main-field-authorization-text{
    justify-content: space-between;
    width: 320px;

}

.main-field-authorization-links{

    margin-top: 15px;
    justify-content: space-between;
}
.facebook{
    display: flex;
    width: 157px;
    height: 46px;
    background-color: #305db8;
    align-items: center;
    justify-content: space-around;

}

.facebook-logo{
background-image: url("../img/facebook.png");
    width: 10px;
    height: 20px;

}

.facebook-line{
background-image: url("../img/facebookline.png");
    width: 1px;
    height: 28px;
}

.facebook-text{

}
.google{
    width: 157px;
    height: 46px;
    background-color: #df4a32;
}

/*.inline-flex{*/
/*    display: inline-flex;*/
/*}*/

.main-field-registration-form-legend{
    justify-content: space-between;
    width: 320px;
    color: black;
    /*height: 10px;*/
    margin-top: 35px;
    margin-bottom: 18px;
    align-items: center;
}
.main-field-registration-form-legend-text{
    align-items: center;
}
.main-field-registration-form-legend-line{

    width: 135px;
    height: 1px;
    background-color: black;
}

.registration-form{

    display: flex;
    flex-direction: column;

}
.registration-form-input{


    height: 46px;
    margin-bottom: 18px;
}
.registration-form-input:focus{

    box-shadow: 0px 10px 15px 5px #000000;
}
.registration-form-button{
    margin-top: 18px;
    height: 46px;
    background-color: #329a65;
    color: #ffffff;
    font-size: 16px;
}
.registration-form-conformation{
    color: black;
    margin-right: 15px;
}